.background_loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overflowclass body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.emptyProduts img {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  width: 100px;
}

.emptyProduts {
  user-select: none;
}

.action-buttons{
  background-color: rgba(255, 235, 205, 0);
}

.hided-overflow{
  overflow: hidden;
}